@page
@model Restaurante.Pages.Proveedores.EditModel
@{
    ViewData["Title"] = "Edit";
}
    <h1>Edit</h1>

    <h4>Proveedor</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Proveedor.Id" />

                <div class="form-group">
                <label asp-for="Proveedor.IdProveedor" class="control-label"></label>
                <input asp-for="Proveedor.IdProveedor" class="form-control" />
                <span asp-validation-for="Proveedor.IdProveedor" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="Proveedor.Nombre" class="control-label"></label>
                <input asp-for="Proveedor.Nombre" class="form-control" />
                <span asp-validation-for="Proveedor.Nombre" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Proveedor.NombreEmpresa" class="control-label"></label>
                <input asp-for="Proveedor.NombreEmpresa" class="form-control" />
                <span asp-validation-for="Proveedor.NombreEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor.Direccion" class="control-label"></label>
                <input asp-for="Proveedor.Direccion" class="form-control" />
                <span asp-validation-for="Proveedor.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor.Email" class="control-label"></label>
                <input asp-for="Proveedor.Email" class="form-control" />
                <span asp-validation-for="Proveedor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor.Celular" class="control-label"></label>
                <input asp-for="Proveedor.Celular" class="form-control" />
                <span asp-validation-for="Proveedor.Celular" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
    @section Scripts{
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
}

